*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Arial,sans-serif;
}

body{
    background:#0d1117;
    color:#ffffff;
}

table{
    border-collapse:collapse;
}

button{
    background:#0078d4;
    color:green;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1f9cf0;
}

td{
    padding:12px;
}

hr{
    border:1px solid #30363d;
}

u{
    color:#3794ff;
    text-decoration:none;
}

small{
    color:#6f9de1;
}

font[color="gray"]{
    color:#013e83;
}

font[color="lightblue"]{
    color:#4fc3f7;
}

font[color="#9dbbe8"]{
    color:#9dbbe8;
}

font[color="#3794ff"]{
    color:#3794ff;
}

table[bgcolor="#171a1f"],
table[bgcolor="#20252d"],
td[bgcolor="#171a1f"],
td[bgcolor="#292d32"]{
    border-radius:10px;
    border:1px solid #30363d;
}

table[bgcolor="#1683ff"]{
    background:#0e639c;
    border-radius:12px;
    padding:20px;
}

p{
    line-height:1.7;
}

center{
    width: 90%;
}
.light-theme{
    background:white;
    color:black;
}